.form {
  display: flex;
  align-items: center;
}

.field {
  width: 100%;
}

@media (min-width: 768px) {
  .field {
    min-width: 20rem;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  border: none;
  border-radius: 4px;
  width: 64px;
  height: 38px;
  background-color: #ff7c00;
}

.button > svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
