.sidebar,
.content {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  .sidebar {
    position: sticky;
    top: 3.5rem;
    height: calc(100vh - 3.5rem);
    overflow-y: auto;
  }
}
