.row {
  display: flex;
}

.date {
  flex: 4 0 0;
  margin-top: 1.25rem;
  text-align: right;
}

.line {
  flex-grow: 1;
  position: relative;
}

.line::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 4px;
  height: 100%;
  background-color: black;
}

.line::after {
  content: "";
  display: block;
  margin: 1.5rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 1rem;
  height: 1rem;
  background-color: black;
}

.content {
  flex: 8 0 0;
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
}

.content::before {
  content: "";
  display: block;
  position: absolute;
  left: -1.5rem;
  border: 0.75rem solid transparent;
  border-right-color: rgba(0, 0, 0, 0.125);
}
