.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  background-image: url(/login_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.modal {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  max-width: 750px;
  min-height: calc(100% - 1rem);
}

@media (min-width: 576px) {
  .modal {
    margin: 1.75rem 0;
    min-height: calc(100% - 3.5rem);
  }
}

.modal .dialog {
  margin: 0 auto;
  max-width: 450px;
  width: 100%;
}

.modal .dialogContent {
  background-color: rgba(255, 255, 255, 0.9);
}
