.userProfile > img {
  display: block;
  margin-bottom: 0.5rem;
  width: 12rem;
}

.userIdentity > h1 {
  display: inline;
  margin-right: 0.5rem;
}

.userIdentity > svg {
  vertical-align: text-bottom;
  width: 1.5rem;
  height: 1.5rem;
}

.userContent > section {
  margin-bottom: 2rem;
}

.userContent > section > h2 {
  font-size: 1rem;
}
