.card-body > p:last-child {
  margin-bottom: 0;
}

.card-list > section:not(:last-child) {
  margin-bottom: 1.5rem;
}

.card-list > section > h2 {
  font-size: 1rem;
}

.horizontal-group {
  display: flex;
  margin: 0;
  padding: 0;
}

.horizontal-group > * {
  display: block;
}

.horizontal-group > *:not(:last-child) {
  margin-right: 0.5rem;
}

.group-size-text > * {
  width: 1.5rem;
  height: 1.5rem;
}

.group-size-avatar > * {
  width: 2.5rem;
  height: 2.5rem;
}

.vertical-group {
  display: block;
  margin: 0;
  padding: 0;
}

.vertical-group > * {
  display: block;
}

.vertical-group > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.male svg {
  fill: #007bff;
}

.female svg {
  fill: #e83e8c;
}

.inline-icon > svg {
  position: relative;
  top: 0.15em;
  vertical-align: top;
  width: 1.2em;
  height: 1.2em;
}

.inline-icon > svg:not(:last-child) {
  margin-right: 0.25rem;
}
